<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Orinoco</title>
  <link rel="icon" href="./../img/favicon.png" />
  <link href="../dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="./../css/style.css" />

</head>
  <body>
    <nav class="navbar navbar-expand-md navbar-light">
      <a class="navbar-brand " href="index.html">
        <img src="./../img/logo.png" alt="logo panier" />
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ">
          <a class="nav-item nav-link  mr-5" href="./index.html">Home </a>
          <a class="nav-item nav-link " href="./panier.html">
            <ion-icon name="cart-outline"></ion-icon>
            Cart&nbsp;<span class="num">0</span>
          </a>
        </div>
      </div>
    </nav>

    <div class="container-md block-prod" id="product" ></div>
    
    <footer class="d-flex aligns-items-center justify-content-center height=100 my-3">
      <a class="navbar-brand " href="index.html">
        <img src="./../img/logo.png" alt="logo panier" />
      </a>
    </footer>
    
    



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="../dist/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>
		<script  src="./../js/article.js"></script>

  </body>
</html>